<h2 class="bd-title mt-0">Phone Books</h2>

<a href="#phonebooks" data-toggle="collapse" class="btn btn-outline-secondary btn-block">Add Phone Book</a>
<div id="phonebooks" class="collapse">
    <div class="holder">
        <div class="form-inline">
            <div class="form-group mr-2">
                <label for="addPhoneBook">
                    <i class="text-muted label-font-small label-black mr15 pr2">Name </i>
                    <input id="name" type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="phoneBook.phoneBookName" />
                </label>
            </div>
            <div class="form-group mr-2 ml-auto">
                <button class="btn btn-info" (click)="addPhoneBook()">Submit</button>
            </div>
        </div>
    </div>
</div>

<br/>

<a href="#searchphonebooks" data-toggle="collapse" class="btn btn-outline-secondary btn-block">Search Phone Books</a>
<div id="searchphonebooks" class="collapse">
    <div class="holder">
        <div class="form-inline">
            <div class="form-group mr-2">
                <label for="searchPhoneBook">
                    <i class="text-muted label-font-small label-black mr15 pr2">Name </i>
                    <input id="name" type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="phoneBookSearch.name" />
                </label>
            </div>
            <div class="form-group mr-2 ml-auto">
                <button class="btn btn-info" (click)="searchPhoneBooks()">Search</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pb of phoneBookSearchResult.result">
                    <td> {{pb.name}}</td>
                    <td><button class='btn btn-link' (click)="deletePhoneBook(pb.id)">Delete</button></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div align='center'>

        <button class='btn btn-link' [disabled]="prevPhoneBookEnabled" (click)="pagePhoneBookPrev()">PREV</button>
        <button class='btn btn-link' [disabled]="nextPhoneBookEnabled" (click)="pagePhoneBookNext()">NEXT</button>
    </div>
</div>

<h2 class="bd-title mt-0">Entries</h2>

<a href="#newentry" data-toggle="collapse" class="btn btn-outline-secondary btn-block">Add Entry</a>
<div id="newentry" class="collapse">
    <div class="holder">
        <div class="form-inline">
            <div class="form-group mr-2">
                <label for="entryName">
                    <i class="text-muted label-font-small label-black mr15 pr2">Name </i>
                    <input id="entryName" type="text" class="ng-pristine ng-valid ng-touched"
                        [(ngModel)]="entry.entryName" />
                </label>
            </div>
            <div class="form-group mr-2">
                <label for="entryNumber">
                    <i class="text-muted label-font-small label-black mr15 pr2">Number </i>
                    <input id="name" type="text" class="ng-pristine ng-valid ng-touched"
                        [(ngModel)]="entry.entryPhoneNumber" />
                </label>
            </div>
            <div class="form-group mr-2">
                <label for="entryPhoneBook">
                    <i class="text-muted label-font-small label-black mr15 pr2">Phonebook</i>
                    <select class="ng-pristine ng-valid ng-touched" [(ngModel)]="entry.entryPhoneBookId">
                        <option selected disabled>Required</option>
                        <option *ngFor="let pb of phonebooks" [value]="pb.id">
                            {{pb.phoneBookName}}
                        </option>
                    </select>
                </label>
            </div>

            <div class="form-group mr-2 ml-auto">
                <button class="btn btn-info" (click)="addNewEntry()">Submit</button>
            </div>

        </div>
    </div>
</div>

<br />

<a href="#entry" data-toggle="collapse" class="btn btn-outline-secondary btn-block">Search Entries</a>
<div id="entry" class="collapse">
    <div class="holder">
        <div class="form-inline">
            <div class="form-group mr-2">
                <label for="searchName">
                    <i class="text-muted label-font-small label-black mr15 pr2">Name </i>
                    <input id="name" type="text" class="ng-pristine ng-valid ng-touched"
                        [(ngModel)]="entrySearch.name" />
                </label>
            </div>
            <div class="form-group mr-2">
                <label for="searchNumber">
                    <i class="text-muted label-font-small label-black mr15 pr2">Number </i>
                    <input id="name" type="text" class="ng-pristine ng-valid ng-touched"
                        [(ngModel)]="entrySearch.number" />
                </label>
            </div>
            <div class="form-group mr-2 ">
                <label for="searchPhoneBook">
                    <i class="text-muted label-font-small label-black mr15 pr2">Phonebook </i>
                    <select class="ng-pristine ng-valid ng-touched" [(ngModel)]="entrySearch.phoneBookId">
                        <option selected disabled>Required</option>
                        <option *ngFor="let pb of phonebooks" [value]="pb.id">
                            {{pb.phoneBookName}}
                        </option>
                    </select>
                </label>
            </div>
            <div class="form-group mr-2 ml-auto">
                <button class="btn btn-info" (click)="searchEntries()">Search</button>
            </div>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of entrySearchResult.result">
                    <td> {{entry.name}}</td>
                    <td> {{entry.phoneNumber}}</td>
                    <td><button class='btn btn-link' (click)="deleteEntry(entry.id)">Delete</button></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div align='center'>

        <button class='btn btn-link' [disabled]="prevEnabled" (click)="pagePrev()">PREV</button>
        <button class='btn btn-link' [disabled]="nextEnabled" (click)="pageNext()">NEXT</button>
    </div>
</div>
<br />
<br />