.pl1{
    padding-left: 5px;
}
.pl2{
    padding-left: 10px;
}
.pr1{
    padding-right: 5px;
}
.pr2{
    padding-right: 10px;
}

.holder{
    background-color: #e9ecef;
    padding:10px 10px 10px 10px;
}