<body>
  <app-nav-menu></app-nav-menu>
  <div class="container base-spacer">
    <router-outlet>
    </router-outlet>
  </div>

  <footer class="footer text-muted text-center">
    <hr>
    <div align="center">
      <p>© 2021 Absa Assessment by Gareth Carver</p>
    </div>
  </footer>
</body>