@media screen and (max-width: 479px) {
    .img-basket  {
        max-width: 50%;
        height: auto;
      
    }
  
}

@media screen and (min-width: 480px) {
    .img-basket  {
        max-width: 45%;
        height: auto;
      
    }
   
}

@media screen and (min-width: 800px) {
    .img-basket {
        max-width: 32%;
        height: auto;
     
    }
}

.btn-add-gloss { 
  color: #fff; 
    background-color: #57565e; 
    border-color: #605361; 
  } 
   
  .btn-add-gloss:hover, 
  .btn-add-gloss:focus, 
  .btn-add-gloss:active, 
  .btn-add-gloss.active, 
  .open .dropdown-toggle.btn-add-gloss { 
    color: #ffffff; 
    background-color: #66656d; 
    border-color: #605361; 
  } 
   
  .btn-add-gloss:active, 
  .btn-add-gloss.active, 
  .open .dropdown-toggle.btn-add-gloss { 
    background-image: none; 
  } 
   
  .btn-add-gloss.disabled, 
  .btn-add-gloss[disabled], 
  fieldset[disabled] .btn-add-gloss, 
  .btn-add-gloss.disabled:hover, 
  .btn-add-gloss[disabled]:hover, 
  fieldset[disabled] .btn-add-gloss:hover, 
  .btn-add-gloss.disabled:focus, 
  .btn-add-gloss[disabled]:focus, 
  fieldset[disabled] .btn-add-gloss:focus, 
  .btn-add-gloss.disabled:active, 
  .btn-add-gloss[disabled]:active, 
  fieldset[disabled] .btn-add-gloss:active, 
  .btn-add-gloss.disabled.active, 
  .btn-add-gloss[disabled].active, 
  fieldset[disabled] .btn-add-gloss.active { 
    background-color: #FFFFFF; 
    border-color: #1E90FF; 
  } 
   
  .btn-add-gloss .badge { 
    color: #FFFFFF; 
    background-color: #1E90FF; 
  }

  .btn-add-matte { 
    color: #fff; 
    background-color: #756477; 
    border-color: #605361; 
  } 
   
  .btn-add-matte:hover, 
  .btn-add-matte:focus, 
  .btn-add-matte:active, 
  .btn-add-matte.active, 
  .open .dropdown-toggle.btn-add-matte { 
    color: #ffffff; 
    background-color: #5f5161; 
    border-color: #605361; 
  } 
   
  .btn-add-matte:active, 
  .btn-add-matte.active, 
  .open .dropdown-toggle.btn-add-matte { 
    background-image: none; 
  } 
   
  .btn-add-matte.disabled, 
  .btn-add-matte[disabled], 
  fieldset[disabled] .btn-add-matte, 
  .btn-add-matte.disabled:hover, 
  .btn-add-matte[disabled]:hover, 
  fieldset[disabled] .btn-add-matte:hover, 
  .btn-add-matte.disabled:focus, 
  .btn-add-matte[disabled]:focus, 
  fieldset[disabled] .btn-add-matte:focus, 
  .btn-add-matte.disabled:active, 
  .btn-add-matte[disabled]:active, 
  fieldset[disabled] .btn-add-matte:active, 
  .btn-add-matte.disabled.active, 
  .btn-add-matte[disabled].active, 
  fieldset[disabled] .btn-add-matte.active { 
    background-color: #FFFFFF; 
    border-color: #008B8B; 
  } 
   
  .btn-add-matte .badge { 
    color: #FFFFFF; 
    background-color: #008B8B; 
  }

  .navbar-bg{
    background-color: #AF144B;
    
  }
  .navbar-light{
    color: #ffffff !important;
  }
