<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
        <div class="container" style="font-size: 25px;">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav">

                    <li class="nav-item" [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link navbar-light" [routerLink]="['/']" data-toggle="collapse"
                            data-target=".navbar-collapse.show">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link navbar-light" [routerLink]="['/phonebook']" data-toggle="collapse"
                            data-target=".navbar-collapse.show">Phonebooks</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>