<div class="container-fluid">
    <div class="pt-md-3 pb-md-4">
        <h1 class="bd-title mt-0">
            <img src="../../assets/images/Absa-logo-grey.jpg" class="img-fluid" />
            Assessment
        </h1>
        <p class="bd-lead">
            <strong>Candidate:</strong>
            <br />
            <a
                href="https://www.linkedin.com/in/gareth-carver-2aa711201?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3ByDQwCsedS6a9WFpicrNH%2BQ%3D%3D">
                <u>Gareth Carver</u>
            </a>
            <br />
            <br />
            <strong>Assessment:</strong>
            <br />
            CIB Digital Tech – Assessment (Phonebook)
            <br />
        </p>

        <strong>Project Details:</strong>
        <br />
        
        <div>
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="2"><strong><u>Backend Details:</u></strong></td>
                        </tr>
                        <tr>
                            <td>Language:</td>
                            <td>C#</td>
                        </tr>
                        <tr>
                            <td>Framework:</td>
                            <td>Dotnet Core 5 <i>(aka .NET 5.0)</i></td>
                        </tr>
                        <tr>
                            <td>Project Type:</td>
                            <td>ASP.NET Core Web API</td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Data Details:</strong></td>
                        </tr>
                        <tr>
                            <td>Database:</td>
                            <td>Microsoft SQL</td>
                        </tr>
                        <tr>
                            <td>Approach:</td>
                            <td>Code first with Fluent API <i>(Db Migrations Required)</i></td>
                        </tr>
                        <tr>
                            <td>Framework:</td>
                            <td>Entity Framework Core</td>
                        </tr>

                        <tr>
                            <td colspan="2"><strong><u>Frontend Details:</u></strong></td>
                        </tr>
                        <tr>
                            <td>Framework:</td>
                            <td>Angular 12</td>
                        </tr>
                        <tr>
                            <td>Project Type:</td>
                            <td>Single Page Application</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
    </div>
</div>